header{
  background: #3338A0;
  color: #F7F7F7;
}
.bdr{
  border:2px solid #FCC61D;
  background-color: #3338A0;
  color: #F7F7F7;
  padding: 10px;
  margin: 10px;
  
}

.number{
  border: 1px solid #3338A0;
  line-height: 40px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}